version: "3"
services:
  server:
    build: ./server
    ports:
      - 5000:5000
    container_name: server
    depends_on:
      - postgres
    env_file:
      - ./server/.env
    volumes:
      - ./server/:/server/

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./server/.env
    volumes:
      - ./server/db:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - postgres
    ports:
      - 5050:80
    env_file:
      - ./server/.env
    volumes:
      - ./server/pgadmin:/var/lib/pgadmin
    user: "root"

  # redis:
  #   image: redis
  #   container_name: redis
  #   restart: always
  #   ports:
  #     - 6370:6379
  #   volumes:
  #     - ./server/redis:/data
